.container2 {
  display: flex;
	justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-wrap: wrap;
}
